@charset "UTF-8";

/* common */

body {
  font-family: 'Jost', sans-serif;
  margin: 0;
  background: #fff;
}

.container {
  width: calc(100% - 32px);
  max-width: 1000px;
  margin: 0 auto;
  /* outline: 1px solid green; */
}

h1 {
  margin: 0;
  font-weight: 300;
}

h2 {
  margin: 0;
  font-size: 24px;
}

p {
  margin: 0;
  font-size: 14px;
}

h2,
p {
  line-height: 1.9;
}

span {
  font-size: 18px;
}

ul {
  list-style: none;
}

/* header */

.header {
  padding: 14px 40px;
  background: rgba( 235,235,240,1 );
}

.header ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.header a {
  margin: 0;
  font-weight: 500;

  position: relative;
  display: inline-block;

  text-decoration: none;
  color: inherit;
  transition: opacity .3s;
}

.header a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.header a:hover::after {
  transform: scale(1, 1);
}

.header a:hover {
  opacity: .5;
}


.header li+li {
  margin-left: 24px;
}

/*  Works */

.works .container {
  margin-top: 50px;
  /* outline: 1px solid red; */
}

.works h2 {
  width: 5rem;
  text-align: center;
  border-bottom: 1px solid #000;
}

.works ul {
  margin-top: 32px;
  text-align: center;
  padding-inline-start: 0;/*padding-inline-start:40px;が付いていたので打ち消した*/
}

.works li {
  width: 100%;
}

.works li img {
  width: 90%;
  vertical-align: bottom;
}

/* contents */

.comment {
  margin-top: 30px;
}

/* footer */

.footer {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 40px;
  margin-top: 100px;
  background: #000;
}

.footer small {
  color: rgba( 235,235,240,1 );
}